{% block content %}

<div class="my-2" id="AllOrders">
	<div id = "SearchBar" class="navbar small px-2 rounded-2 shadow">
		<div>
			<h5 class="">
				{{customer}} Orders 
				<!-- If a year is selected, show the selected year -->
				{% if selOrderYear %}
					in {{ selOrderYear }}
				{% endif %}
			</h5>
		</div>
		<div class="mx-2">
			<span class="mx-1">Year</span>
			<div>
				<select 
					name="selOrderYear" id="selOrderYear"
					value="{{ selOrderYear }}"
					class="form-select form-select-sm"
					onchange="RefreshOrdersInYearPlot()"> 
					<option value=""> All </option>
						{% for year in OrderYears %}
						<option 
							value="{{ year.Year }}"
							{%if year.Year == selOrderYear|add:"0" %}
								selected="selected"
							{% endif %}> 
							{{ year.Year }} 
						</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div  class="my-4 row">
		<div class="col-8" id="OrdersByDatePlot"style="height:600px">
			{{OrdersByDatePlot|safe}}
		</div>
		<div class="col-4" id="AnnualOrdersPlot">
			{{AnnualOrdersPlot|safe}}
		</div>
	</div>
</div>



<script type="text/javascript">

	$(document).ready(function ()
    {
    });

	function RefreshOrdersInYearPlot(){
		
		var selOrderYear = $('#selOrderYear').val();

		$.ajax({
			
			url: "{% url 'DjTraders.OrdersByDate' %}",
			data: {
				customer_id: {{customer.customer_id}},
				selOrderYear: selOrderYear,
			},

			beforeSend: function () {
			
				$('#AllOrders').empty();
				$('#AllOrders').html("Retrieving results.");
			},

			success: function(result) {
				$('#AllOrders').empty();
				$('#AllOrders').html(result);
			},

			error: function(){
				$('#AllOrders').empty();
				$('#AllOrders').html('An Error occurred in Request: {{request}}');
			},

			complete: function(){
				$('#AllOrders').show();
			},

		});

	}


</script>

{% endblock %}
