{% block content %}

<div class="mx-4 mb-4 p-3 bg-light rounded shadow" id="AllOrdersByProduct">
	<div class="mb-4 text-center">
		<h4 class="fw-bold text-primary">
			{{customer}} Product Purchased 
		</h4>
	</div>
	<div class="row gx-4">
        <div class="col-md-6">
            <div class="border rounded shadow p-3 bg-white">
                <h6 class="text-center text-secondary mb-3">Product Revenue</h6>
                <div id="CategoryPlot" style="height:600px;">
                    {{ ProductsRevenuePlot|safe }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="border rounded shadow p-3 bg-white">
                <h6 class="text-center text-secondary mb-3">Product Sales</h6>
                <div id="CategoryPlot" style="height:600px;">
                    {{ ProductsPlot|safe }}
                </div>
            </div>
        </div>
    </div>
	
	<!-- <div id="ProductsPlot"style="height:600px">
		{{ProductsRevenuePlot|safe}}
	</div>

	<div id="ProductsPlot"style="height:600px">
		{{ProductsPlot|safe}}
	</div> -->
</div>



<script type="text/javascript">

	$(document).ready(function ()
    {
    });

</script>

{% endblock %}
