<!-- v2.1 Added form for Add/Edit Customers. -->
{% extends "base.html" %}
{%load crispy_forms_tags %} 

{% block content %}
<div class="my-2 ">
	<h5> Form using crispy form - class based view </h5>
</div>
<div class="my-4 container shadow ">
		{% crispy form %}
</div> 

{% comment %} 
<form method="POST">
	{% csrf_token %}
	<table>
		{{form.as_table}}
	</table>	

	<div class="navbar">
		<div></div>
		<div>
			<button type="submit" class="btn btn-light mt-3">
				<i class="fa-regular fa-floppy-disk" style="color:darkgreen;"></i>
				Save
			</button>
	
			<a class="btn btn-light mt-3" href = "{% url 'DjTraders.Customers' %}">
				<i class="fa-solid fa-xmark" style="color: darkred;"></i>
				Cancel 
			</a>
		</div>
	</div>

</form>

{% if form.errors %}
	<div class="alert alert-danger mt-5">
		{{form.errors.title.as_text}}
	</div>
{% endif %} 

{% endcomment %}

{% endblock %}