<!-- tell the page to "use" the base template -->
{% extends "base.html" %}

<!-- define the block content to be injected -->

{% block content %}

<section id = "SearchBar" 
		class="small px-2 rounded-2 shadow">
	<form action="{% url 'DjTraders.Customers' %}">
		<div class="navbar py-4">
			<div class="nav">
				<h5 class="ps-2 py-1">
					<i class="fa-solid fa-users fa-lg" style="color: steelblue;"></i>
					Search Customers By:{{ srchCustomerName }}{{ srchCountry }}
				</h5>
			</div>
			<div class="nav">
				<div class="mx-1">
					<div class="px-1">Customer</div>
					<input type="text"
						class="form-control form-control-sm" 
						name="srchCustomerName" id="srchCustomerName" 
						width:"100%"
						placeholder="Customer Name"
						value="{{ srchCustomerName }}">
				</div>
				
				<div class="mx-2">
					<span class="mx-1">Country</span>
					<div>
					<select name="srchCountry" id="srchCountry"
					value="{{ srchCountry }}"
					class="form-select form-select-sm"
					onchange="this.form.submit()"> 
						<option value="">  

						</option>
						{% for country in Countries %}
							<option 
								value="{{ country.country }}"
								{%if country.country == srchCountry %}
								selected="selected"
								{% endif %}
							> 
								{{ country.country }} 
							</option>
						{% endfor %}
					</select>
				</div>
				</div>

			</div>
			<div class="nav"> 
				<button class="btn btn-light btn-sm mx-2" type="submit">
					<i class="fa-solid fa-magnifying-glass p-1"></i>
					Search
				</button>
				<button 
					class="btn btn-light btn-sm mx-2" 
					type=""
					onclick = "alert('For you to add');">
					<i class="fa-solid fa-rotate" style="color: forestgreen"></i>
					Reset
			</button>

			</div>
		</div>
		{% comment %} # v2.1 Added nav bar for add customer. {% endcomment %}
		<div class="navbar">
			<div></div>
			<div>
			<a href = {% url 'DjTraders.CustomerAdd'%}
			class="text-dark text-decoration-none pe-4" 
			title= "Add a new Customer"
			style="cursor:pointer">
				<i class="fa-solid fa-user-plus" 
					style="color:steelblue"></i>
				Add a Customer
			</a>

			<a href = {% url 'DjTraders.CustomersJSON'%}
			class="text-dark text-decoration-none pe-4" 
			title= "Customers"
			style="cursor:pointer">
				<i class="fa-solid fa-user-plus" 
					style="color:steelblue"></i>
				CustomerJSON
			</a>

			<a href = {% url 'DjTraders.TopCustomerOrders'%}
			class="text-dark text-decoration-none pe-4" 
			title= "Customers"
			style="cursor:pointer">
				<i class="fa-solid fa-user-plus" 
					style="color:steelblue"></i>
				Customer Orders Placed
			</a>

		</div>
		</div>
	</form>
</section>

{% comment %} 
	<ul>
		{% for country in Countries %}
			<li>
				{{ country.country }}
			</li>	
		{% endfor %}

		{% for customer in customers %}
			<li>
				{{ customer }}
			</li>	
		{% endfor %}

	</ul>  
{% endcomment %}

<div class="shadow-sm small container">
	{% if customers %}
	<table class="table table-hover order-column "
		   id="CustomersTable" width="100%">
		<thead>
			<tr class="fs-6">
				<th class="text-center" style="width:20%"> Customer </th>
				<th class="ps-1" style="width:15%"> Contact</th>
				<th class="text-center" style="width:30%">Address</th>
				<th class="" style="width:10%">City</th>
				<th class="px-2" style="width:15%">Postal Code</th>
				<th class="px-2" >Country</th>
				<th> &nbsp;</th>
				<th> &nbsp;</th>
				<th> &nbsp;</th>
			</tr>
		</thead>

		<tbody>
	
			{% for customer in customers %}
			<tr>
				<td> {{customer.customer_name}}</td>
				<td>{{customer.contact_name}}</td>
				<td>{{customer.address}}</td>
				<td>{{customer.city}}</td>
				<td>{{customer.postal_code}}</td>
				<td>{{customer.country}}</td>
				<td title="View User" class="mt-1">
					<a 	href = {% url 'DjTraders.CustomerDetail' pk=customer.customer_id %}
						class="">
						<i class="fa-solid fa-house-user fa-lg pt-2" style="color: steelblue;"></i>
					</a>
				</td>
			<!-- v2.1 Added Icon for Edit User -->
				<td title="Edit User" class="mt-1">
					<a 	href = {% url 'DjTraders.CustomerEdit' pk=customer.customer_id %}
						class="">
						<i class="fa-solid fa-user-pen fa-lg pt-2" style="color: steelblue;"></i>
					</a>
				</td>

				<td title="Delete User" class="mt-1">
					<a 	href = {% url 'DjTraders.CustomerDelete' pk=customer.customer_id %}
						class="">
						<i class="fa-solid fa-user-xmark fa-lg pt-2" style="color: firebrick;"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	<table>	
	{% else %}
		No Customers Found
	{% endif %}
</div>


<!-- added Django page button icons, bootstrap formatting -->
{% if page_obj.has_other_pages %}
<div class="pagination d-flex justify-content-end">
	<div class="fw-bolder">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a class="btn btn-light" title="First"
					href="?page=1">
					<i class="fa-solid fa-backward-step"></i>
				</a>
				<a class="btn btn-light" title="Previous"
					href="?page={{ page_obj.previous_page_number }}">
					<i class="fa-solid fa-caret-left"></i>
				</a>
			{% endif %}

			<span class="current btn btn-light">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			</span>

			{% if page_obj.has_next %}
				<a class="btn btn-light" title="Next"
					href="?page={{ page_obj.next_page_number }}">
					<i class="fa-solid fa-caret-right"></i>
				</a>
				<a class="btn btn-light" title="Last"
					href="?page={{ page_obj.paginator.num_pages }}">
					<i class="fa-solid fa-forward-step"></i>
				</a>
			{% endif %}
		</span>
	</div>
</div>
{% endif %}

<!-- Added -->
<script type="text/javascript">

$(document).ready(function() {
	//debugger;
	MakeDataTable('CustomersTable');
});

</script>

{% endblock %}



