{% block content %}
 
<div class=" my-4 p-3 bg-light rounded shadow" id="TBProducts">
    <!-- Header and Year Dropdown -->
    <div id="SearchBar" class="d-flex justify-content-between align-items-center mb-4 p-3 bg-white rounded shadow-sm">
        <h5 class="fw-bold text-primary mb-0">
            Top and Bottom 10 Revenue-Generating Products {% if selOrderYear %} in {{ selOrderYear }} {% endif %}
        </h5>
        <div class="d-flex align-items-center">
            <label for="selOrderYear" class="me-2 mb-0 fw-semibold">Year</label>
            <select name="selOrderYear" id="selOrderYear" class="form-select form-select-sm" onchange="RefreshOrdersInYearPlot()">
                <option value="" {% if not selOrderYear %} selected="selected" {% endif %}>All</option>
                {% for year in OrderYears %}
                    <option value="{{ year.Year }}" {% if year.Year == selOrderYear|add:"0" %} selected="selected" {% endif %}>
                        {{ year.Year }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row gx-4">
        <div class="col-md-6">
            <div class="border rounded shadow p-3 bg-white">
                <h6 class="text-center text-secondary mb-3">Top 10 Revenue-Generating Products</h6>
                <div style="height:600px;">
                    {{ top_10_plot|safe }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border rounded shadow p-3 bg-white">
                <h6 class="text-center text-secondary mb-3">Bottom 10 Revenue-Generating Products</h6>
                <div style="height:600px;">
                    {{ bottom_10_plot|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


 
<script>
    // Trigger AJAX call when year changes
    function RefreshOrdersInYearPlot() {
        var selOrderYear = $('#selOrderYear').val();
 
        $.ajax({
            url: "{% url 'DjTraders.TopBottomProductOrders' %}",
            data: { selOrderYear: selOrderYear },
            beforeSend: function () {
                $('#TBProducts').html("Retrieving results...");
            },
            success: function (result) {
                $('#TBProducts').html(result);
            },
            error: function () {
                $('#TBProducts').html('An error occurred while fetching data.');
            }
        });
    }
</script>

{% endblock %}